apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spark
  template:
    metadata:
      labels:
        app: spark
    spec:
      containers:
      - name: spark
        image: bitnami/spark:3
        ports:
        - containerPort: 7077
        volumeMounts:
        - name: spark-jobs
          mountPath: /opt/spark_jobs
      volumes:
      - name: spark-jobs
        hostPath:
          path: /home/user/youtube-trending-data-pipeline/spark_jobs
